<html>
<head>
<title>Jet Fuel</title>
</head>
<body>
<h3>URL Shortening Service</h3>
<form accept-charset="UTF-8" action="/" method="post">
  <input type='text' name="url" placeholder="www.example.com"/></br>
  <input name="url_to_shorten" type='submit' value="Shorten URL"/>
</form>
<ul>
  <% uris.each do |short_uri| %>
    <li>
  <%= short_uri %>
  </li>
<% end %>
</ul>
</body>
</html>
