<html>
<head>
<title>Jet Fuel</title>
</head>
<body>
<h3>URL Shortening Service</h3>
<form accept-charset="UTF-8" action="/" method="post">
  <input type='text' name="uri_to_shorten" placeholder="www.example.com"/></br>
  <input type='submit' value="Shorten URL"/>
</form>
<table>
  <% if uris.any? %>
    <tr>
    <th>Shortened URL</th>
    <th>Clicks</th>
    <th>Created</th>
  </tr>
  <% uris.each do |uri| %>
    <tr>
    <td><a href="<%= "#{request.url}#{uri.short_urn}" %>"><%= "#{request.url}#{uri.short_urn}"%></a></td>
    <td><%= uri.click_count %></td>
    <td><%= uri.created_at.strftime("%d/%m/%y") %></td>
  </th>
<% end %>
<% end %>
</table>
</body>
</html>
